src/
.DS_Store
src/node_modules
src/dist


# local env files
src/.env.local
src/.env.*.local

# Log files
src/npm-debug.log*
src/yarn-debug.log*
src/yarn-error.log*
src/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
